@import "../variables";

.announcements-home {
  margin: 15% 0;
  background-color: rgba(209, 209, 209, 0.377);

  .header-announs {
    // text-align: end;
    font-size: 20px;
    color: $grey;
    font-weight: 700;
    margin: 10px 0 0 0;
  }

  .announcements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .announ {
      width: 30%;
      margin: 4%;
      padding: 2%;
      border: solid $yellow 1px;

      .body-announ {
        margin: 8% 0;
      }
    }
  }

  .block-button-announ {
    display: flex;
    justify-content: end;
    margin: 20px;


    .button-add-announ {
       border-left: solid $grey 1.5px;
       border-right: solid $grey 1.5px;
       font-size: 15px;
       border-top: none;
       border-bottom: none;
       padding: 8px;
       margin: 0 0 0 20%;
       
    }

    .button-add-announ:hover {
        border-left: solid $yellow 1.5px;
        border-right: solid $yellow 1.5px;
    }

    
  }
}
