@import '../variables';

.post-block {
    display: flex;
    margin: 40px 0;
    // height: 500px;
    
    .content-post {
        display: flex;
        width: 60%;
        padding: 0 30px ;
        border-right: solid $yellow 2px;


        .post-body {
            margin: 20px 0;
        }


        .post-user {
        }

        .content-button {
            margin: 20px 0 0 15px;
            // padding: 10px 0 0 0 ; 


            .button-post {
                border-radius: 50px;
                width:80px;
                height:20px;
                margin: 5px 0;
                border: solid black 1px ;
            }

            .button-post:hover {
                background-color: rgba(255, 252, 52, 0.116);
            }
        }
    }
}